version: '3.3'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    expose:
      - "80"
    networks:
      - app-network
    env_file:
      - .env
    environment:
      LETSENCRYPT_HOST: ${FRONT_LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${CERTBOT_EMAIL}
      VIRTUAL_HOST: ${FRONT_LETSENCRYPT_HOST}
      VIRTUAL_PORT: 80


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    expose:
      - "8080"
    networks:
      - app-network
    env_file:
      - .env
    environment:
      LETSENCRYPT_HOST: ${BACK_LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${CERTBOT_EMAIL}
      VIRTUAL_HOST: ${BACK_LETSENCRYPT_HOST}
      VIRTUAL_PORT: 8080

networks:
  app-network:
    driver: bridge

volumes:
  certbot-web:
  certbot-etc:
