version: '3.3'

services:
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    expose:
      - "80"
    networks:
      - app-network
      - webproxy
    env_file:
      - .env
    environment:
      LETSENCRYPT_HOST: ${FRONT_LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${CERTBOT_EMAIL}
      VIRTUAL_HOST: ${FRONT_LETSENCRYPT_HOST}
      VIRTUAL_PORT: 80


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    expose:
      - "8080"
    networks:
      - app-network
      - webproxy
    env_file:
      - .env
    environment:
      LETSENCRYPT_HOST: ${BACK_LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${CERTBOT_EMAIL}
      VIRTUAL_HOST: ${BACK_LETSENCRYPT_HOST}
      VIRTUAL_PORT: 8080

networks:
  app-network:
    driver: bridge
  webproxy:
    external: true

volumes:
  certbot-web:
  certbot-etc:
