# Backend Environment Variables
APP_NAME=smart-parcel-locker
APP_ENV=development
HTTP_PORT=8080

DB_HOST=178.128.121.123
DB_PORT=30000
DB_USER=postgres
DB_PASSWORD=admin1234
DB_NAME=smart_parcel_locker
DB_SSLMODE=disable

# Certbot Email
CERTBOT_EMAIL=nungpothi.p@gmail.com
FRONT_LETSENCRYPT_HOST=smartlocker.givemebug.online
BACK_LETSENCRYPT_HOST=api-smartlocker.givemebug.online

# Frontend Environment Variables
VITE_API_BASE_URL=https://api-smartlocker.givemebug.online/api/v1
#rm -r .env ; nano .env ;
